:root {
    --primary: #496f32;
    --primaryTrim: #91b080;
    --secondary: #095256;
    --secondaryTrim: #087f8c;
    --secondaryNote: #5aaa95;
    --text: #ffffff;
    --important: #910000;
    --boxColor: #ffeaa4;



}

* {
    
}

